.ddl_title {
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #ddd;
}
.ddl__opd {
    font-size: 18px;
    width: 100%;
    background-color: #996c2b;
    color: #ddd;
    border: none !important;
    outline:none !important;
    padding: 2px 10px;
    border: 1px solid #996c2b;
    scroll-behavior: smooth;
    
}

.ddl__opd:disabled {
    font-size: 18px;
    width: 100%;
    background-color: #996c2b;
    color: #ddd;
    border: none !important;
    outline:none !important;
    padding: 2px 10px;
    border: 1px solid #996c2b;
    scroll-behavior: smooth;
    
}

.ddl__opd option {
    text-align: center;
}

.ddl__opd:focus, .ddl__opd:hover  {
    border: none !important;
    outline:none !important;
    /* outline:1px solid black; */
}

.ddl__container {
    background-color: #996c2b;
    border-bottom: 3px solid #473516;
    color: #ddd;
    padding: 10px 0px;
    border-radius: 0 0 10px 10px;
}
.vbox
{
    display: flex;
    position: relative;
    align-items: center;
    text-align: right;
}

.header-div
{
    background-color: #473516;
    display: flex;
    width: 100%;
    height: 40vh;
    position: relative;
    background-repeat: no-repeat !important;
    background-attachment: inherit !important;
    background-position: center !important; 
    background-size: cover !important;
    top:0;
    display: flex;
        /* background-attachment: inherit !important; */
    align-items: center;
}
.header-div--title
{
    position: absolute;
    top: 57%;
    background: #9f7939;
    color: #fff;
    font-family: "poppinsRegular",sans-serif;
    font-size: 36px;
    line-height: 35px;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-div--title::after{
    border-bottom: 35px solid rgba(0, 0, 0, 0);
    border-left: 7px solid #9f7939;
    content: "";
    height: 100%;
    position: absolute;
    right: -20px;
    width: 20px;
    top: 0px;
}
#divlogo{
    align-items: center;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20vh;
    /* left: 35vw; */
    z-index:999;
    display: flex;
    flex-direction: column;
}
#divlogo h1 {
    font-weight: 300;
    color: #fff;
}

.hero-image-area {
    text-align:center;
    align-items: center;
    justify-content: center;
    
}

#divlogo img {
    width: 200px;
}


#divImg h1 {
    position: absolute;
    top: 50%;left: 5%;
    z-index:999;
    font-size:50px;
    font-weight: 700;
    color: #fff;
}

.gallery_cat_img, .galley_img {
    width:100% ;
    height: 270px ;
    object-fit: cover;
    overflow: hidden;

}


.team_img {
    border-bottom: 2px solid #996c2b;
    border-radius: 25px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    width:100%;
}

.doctor_img {
    width: 360px !important;
    height: 440px;
    overflow: hidden;
    object-fit: cover;
}

.doctor_img--thumb {
    width: 100%;
    height: 100px;
}

.service_img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    object-fit: cover;
}

.workshop_img {
    width: 100%;
    height: 270px;
    overflow: hidden;
    object-fit: cover;
}

.list-active ::after
{
    content: "\ed88"; /* FontAwesome Unicode */
    color: #9f7939;
    font-family: 'IcoFont' !important;
    display: inline-block;
    margin-left: 1.4em;
}
.list-active a {
    color: #9f7939 !important;
}

.my_desc p {
    text-align: justify;
} 
.my_desc  ul li {
    margin-left : 16px;
}

.my_desc  ul li::before {
    content: "\ed88"; /* FontAwesome Unicode */
    color: #9f7939;
    font-family: 'IcoFont' !important;
  display: inline-block;
  margin-left: -1.4em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.my_desc  ul li ul li::before {
    content: "\ed89"; /* FontAwesome Unicode */
    color: #9f7939;
    font-family: 'IcoFont' !important;
  display: inline-block;
  margin-left: -1.4em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.my_desc  ol li {
    margin-left : 16px;
}

.my_desc  ol li::before {
    content: "\ed27"; /* FontAwesome Unicode */
    color: #9f7939;
    font-family: 'IcoFont' !important;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.my_desc table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
.my_desc table tbody tr:first-child  {
    background-color: #9f7939 !important;
    border-bottom: 3px solid #473516 !important;
}

.my_desc table tbody tr:first-child td  {
    background-color: #9f7939 !important;
}

.my_desc--vtable table tbody tr:first-child  {
    background-color: white !important;
    border-bottom: 0px !important;
}

.my_desc--vtable table tbody tr td:first-child  {
    background-color: #9f7939 !important;
    border-bottom: 3px solid #473516 !important;
    border-right: 3px solid #473516 !important;
}

.my_desc table tbody tr:first-child td span {
    color: #fff !important;
}

.my_desc--vtable table tbody tr:first-child td span {
    color: #000 !important;
}

.my_desc--vtable table tbody tr td:first-child span {
    color: #fff !important;
}

.my_desc th, td {
    text-align: left;
    padding: 8px !important;
    white-space: inherit !important;
    vertical-align: top !important;
    border-right: 1px solid #473516 !important;
    border-bottom: 1px solid #473516 !important;
}

.my_desc__table {
    overflow-x:auto;
    padding: 5px 0px;
    margin-bottom: 50px;
}
  
.my_desc__about ul li {
    margin-bottom : 16px;
}

.my_desc_listing {
    height:74px;
    overflow:hidden;
    /* font-size: 12px !important; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.list-desc {
    height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.list-desc--workshop {
    height: 130px;
    -webkit-line-clamp: 4;
}

.list-title {
    height: 57px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn__pdf_container
{
    padding: 5px;
}

.btn__pdfs {
    background-color: #9f7939;
    border-radius: 15px;
    color: #fff !important;
    font-size: 20px;
    padding: 20px 30px !important;
    border-left: 3px solid #473516 !important;
    text-align: center;
    vertical-align: center;
    align-content: center;
    text-decoration: none;
    transition: 0.3s;  
}

.btn__pdfs a {
    color: #fff !important;

    height: 57px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn__pdfs:focus{
    color: #fff;
}
.btn__pdfs:hover {
    background-color: #473516;
    color: #fff;
    border-left: 3px solid #9f7939 !important;
}  

.blog_img--suggetions {
    width:100px;
    height:70px;
    overflow:hidden;
    object-fit:cover
}

.member_info {
    height: 200px;
    overflow: hidden;
}

.container__image {
    width: 250px;
    margin: 30px 30px 30px 0;
    float: left;
  }
  .container__text {
    display: inline;
  }
  .my_read_more{
      padding-left: 20px;
  }
  .pl-10 {
      padding-left: 10px;
  }
  .my_ddl
    {
        width: 100%;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom: 1px solid #eee;
        font-family: "poppinsRegular",sans-serif;
        color: #9f7939;
        margin-bottom: 40px;
        padding-bottom: 19px;
        transition: border 0.3s;
        outline: 0;
    }
    .radio_text {
        font-family: "poppinsRegular",sans-serif;
        /* color: #9f7939; */
        margin-bottom: 40px !important;
        padding-bottom: 19px !important;
        transition: border 0.3s;
        outline: 0;
        cursor: pointer;
        text-align: left;
    }

@media only screen and (min-width: 601px) {
    
#divOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}

}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
    .pt-20 {
        padding-top: 20px !important;
    }
    .mt-0 {
        margin-top: 0px !important;
    }
    .vbox-mobile {
        display: block;
    }
    .widget_heading {
        background: none;
    }
    .ddl_title {
        text-align: center;
        padding-bottom: 10px;
    }
    .header-div {
        display: flex;
        background-attachment: inherit !important;
        align-items: center;
        height: 30vh;
    }
    .header-div--title {
        font-size: 20px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 0px;

        vertical-align: center;
        width: 90vw;
    }
    .my-div-100 {
        width:100%;
    }
    .mobile_col_md_8{
        width:100%;
        margin-top: -60px;
    }
    .gallery_cat_img, .galley_img {
        width:100% ;
        height: 220px ;
        object-fit: cover;
        overflow: hidden;
    
    }
    .my_desc table {
        width: 500px !important;
    }
    .list-desc {
        height: 74px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .list-desc--workshop {
        height: 114px;
        -webkit-line-clamp: 4;
    }
    .list-title {
        height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    }
    

    .social::before {
        position: fixed;
        padding-top:5px;
        content: "";
        width: 5000%;
        right: 100%;
        background: #222;
        height: 100%;
    }

    #imgBreadcum1{
        height: 28vh !important;
    }
    #imgBreadcum2{
        height: 28vh !important;
    }

    #divImg h1 {
        position: absolute;
        top: 60%;
        left: 5%;
        z-index: 999;
        font-size: 35px;
        font-weight: 700;
        color: #fff;
    }    

    #divOverlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        z-index: 2;
    }
    .TinyMenu{
        display:none;
    }

    .btn__pdfs { 
        padding: 26px 100px;

    }
    .container__image{
        width:100%
    }
    
}


@media only screen and (max-width: 600px) {
    .header-div{
        background:#222 !important;
    }
}