Options +FollowSymlinks
ErrorDocument 404 http://localhost/metas_hospital/404/
ErrorDocument 500 http://localhost/metas_hospital/500/


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteCond %{HTTP_HOST} !=""
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteCond %{HTTPS}s ^on(s)|
#RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]



RewriteRule ^500/?  500.php [L]
RewriteRule ^404/?  404.php [L]

RewriteRule ^who-we-are/? about.php [L]
RewriteRule ^administrative-body/? admin-body.php [L]
RewriteRule ^organogram/? organogram.php [L]
RewriteRule ^contact-us/? contact.php [L]
RewriteRule ^accreditation/? accreditation.php [L]
RewriteRule ^international-patients/? international_patients.php [L]
RewriteRule ^health-talk/? health_talk.php [L]

RewriteRule ^find-a-doctor/(.*)/? find-doctor.php?page=$1 [L]
RewriteRule ^nurses-award/? nurseaward.php [L]
RewriteRule ^doctors-award/? doctoraward.php [L]

RewriteRule ^health-camps/? health-checkup.php [L]
RewriteRule ^health-awareness-programme/? health-awareness.php [L]
RewriteRule ^rallies/? rally.php [L]
RewriteRule ^total-health-programme/? total-health-program.php [L]

RewriteRule ^patient-safety/? patient-safety.php [L]
RewriteRule ^infection-control/? infection-control.php [L]
RewriteRule ^it-excellence/? it-excellence.php [L]

RewriteRule ^what-we-do/? what-we-do.php [L]
RewriteRule ^newstart-programme/? newstart-programme.php [L]
RewriteRule ^opd-schedule/? opd-schedule.php [L]
RewriteRule ^health-and-wellness/(.*)/? health-well-detail.php?hid=$1 [L]
RewriteRule ^health-and-wellness/? health-well.php [L]

RewriteRule ^workshops/(.*)/? workshop-detail.php?wid=$1 [L]
RewriteRule ^workshops/? workshop.php [L]

RewriteRule ^blogs/(.*)/? blog-detail.php?bid=$1 [L]
RewriteRule ^blogs/? blog.php [L]

RewriteRule ^clinical-research/? clinical-research.php [L]

RewriteRule ^events/(.*)/? event-detail.php?eid=$1 [L]
RewriteRule ^events/? event.php [L]


RewriteRule ^galleries/(.*)/? gallery_category.php?gcid=$1 [L]
RewriteRule ^galleries/? gallery_category.php [L]
RewriteRule ^gallery-detail/(.*)/? gallery.php?gcid=$1 [L]


RewriteRule ^project-category/(.*)/? project_category.php?projectid=$1 [L]
RewriteRule ^project-category/? project_category.php [L]
RewriteRule ^projects/(.*)/? project.php?projectid=$1 [L]
RewriteRule ^project-detail/(.*)/? project_detail.php?pdid=$1 [L]


RewriteRule ^videos/? video.php [L]

RewriteRule ^centre-of-excellence/(.*)/? service.php?sid=$1 [L]
RewriteRule ^course-detail/(.*)/? course.php?coid=$1 [L]

RewriteRule ^faculty/(.*)/? faculty.php?tid=$1 [L]
RewriteRule ^course-category/(.*)/? course_categories.php?cid=$1 [L]
RewriteRule ^institute-details/? institute-details.php [L]
RewriteRule ^directors-message/? director-msg.php [L]
RewriteRule ^education-policy/? education-policy.php [L]
RewriteRule ^students-corner/? students-corner.php [L]
RewriteRule ^students-research/? students-category.php [L]

RewriteRule ^application-for-ug-pg-phd/(.*)/? application.php?page=$1 [L]
RewriteRule ^application-blog/(.*)/? application_blog.php?bid=$1 [L]
RewriteRule ^cancellation-policy/? cancellation_policy.php [L]
RewriteRule ^faqs/? faqs.php [L]


# RewriteEngine On
# RewriteCond %{HTTP_HOST} !=""
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteCond %{HTTPS}s ^on(s)|
# RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

Options All -Indexes
<files .htaccess>
order allow,deny
deny from all
</files>

<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 5 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 216000 seconds"
  ExpiresByType application/javascript "access plus 216000 seconds"
  ExpiresByType application/x-javascript "access plus 216000 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>

<ifModule mod_headers.c>
  <filesMatch "\.(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(css)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "private"
  </filesMatch>
  <filesMatch "\.(x?html?|php)$">
    Header set Cache-Control "private, must-revalidate"
  </filesMatch>
</ifModule>

# TN – ENABLE MOD PAGESPEED START
# COMBINE CSS, COMPRESS IMAGES, REMOVE HTML WHITE SPACE AND COMMENTS
<IfModule pagespeed_module>
ModPagespeed on
ModPagespeedEnableFilters rewrite_css,combine_css
ModPagespeedEnableFilters recompress_images
ModPagespeedEnableFilters convert_png_to_jpeg,convert_jpeg_to_webp
ModPagespeedEnableFilters collapse_whitespace,remove_comments
</IfModule>
# TN – ENABLE MOD PAGESPEED END

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>